/*
    1) Using flex layout
    2) created mulitple divs and used flex-direction: row to some and column to some
*/
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 calc(30% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2%;
}

.cardOne {
    display: flex;
    flex-direction: row;
}

.cardOne-innerOne {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardOne-innerOne img {
    width: 80%;
    height: auto;
}

.cardOne-innerTwo {
    padding-left: 3%;
}

.cardOne-innerTwo * {
    display: flex;
}

.cardOne-innerTwo * {
    margin-bottom: -5%;
}

.cardOne-innerTwo h5 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 85%;
    font-weight: 400;
    font-style: normal;
}

.cardOne-innerTwo-Location {
    font-size: small;
}

.cardOne-innerTwo-JobRole {
    font-size: 100%;
}

.cardTwo {
    text-align: left;
    margin-left: 2%;
}

.cardTwo h5 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 90%;
    font-weight: 400;
    font-style: normal;
}

.cardTwo p {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 90%;
    font-weight: 300;
    font-style: normal;
}

.cardTwo-MinExp {
    margin-top: -5%;
}

.cardTwo-ReadMoreBtn {
    margin-top: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(47, 47, 212);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 100%;
    font-weight: 300;
    font-style: normal;
    margin-left: 30%;
}

.ApplyButton {
    width: 70%;
    height: 100%;
    background-color: rgb(85, 239, 196);
    justify-content: center;
    align-items: center;
    border-color: white;
    font-weight: 500;
    padding: 12px 18px;
    box-sizing: border-box;
    border-radius: 9%;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 90%;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

@media screen and (max-width:480px) {

    /*
        To achieve responsiveness, we change flex-direction of cardContainer to column when max-width:480px which is size of a mobile device
    */
    .cardContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.filter-container {
    margin-top: 4%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.filter-select {
    width: 130px;
    height: 30px;
}